<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <div layout:fragment="content">
      
    <form>  
      	 <div class="card">
      	 	  <div class="card-header">
			       <h5 class="card-title">회원가입을 환영합니다</h5>
			  </div>
			  <div class="card-body">
					
					
					
					  <div class="row mb-3">
					    <label for="inputEmail3" class="col-sm-2 col-form-label">사용할 아이디를 입력해주세요</label>
					    <div class="col-sm-10">
					     	 <input type="email" class="form-control" id="inputEmail3">
					    </div>
					    <label for="inputPassword3" class="col-sm-2 col-form-label">사용할 비밀번호를 입력해주세요</label>
					    <div class="col-sm-10">
					     	 <input type="password" class="form-control" id="inputPassword3">
					    </div>
					    <label for="inputPassword3" class="col-sm-2 col-form-label">비밀번호를 한번 더 입력해 주세요</label>
					    <div class="col-sm-10">
					    	  <input type="password" class="form-control" id="inputPassword3">
					    </div>
					    
					    <label for="inputPassword3" class="col-sm-2 col-form-label">차량 번호를 입력해주세요</label>
					    <div class="col-sm-10">
					    	  <input type="password" class="form-control" id="inputPassword3">
					    </div>
					    
					    <label for="inputPassword3" class="col-sm-2 col-form-label">입력</label>
					    <div class="col-sm-10">
					    	  <input type="password" class="form-control" id="inputPassword3">
					    </div>
					    
					    <label for="inputPassword3" class="col-sm-2 col-form-label">입력</label>
					    <div class="col-sm-10">
					    	  <input type="password" class="form-control" id="inputPassword3">
					    </div>
					  </div>
					 
					 
					 
					 <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
					  <h4 id="scrollspyHeading1">이용약관</h4>
					  <p>...SecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecondSecond</p>
					  <h4 id="scrollspyHeading2">Second heading</h4>
					  <p>...</p>
					  <h4 id="scrollspyHeading3">Third heading</h4>
					  <p>...</p>
					  <h4 id="scrollspyHeading4">Fourth heading</h4>
					  <p>...</p>
					  <h4 id="scrollspyHeading5">Fifth heading</h4>
					  <p>...</p>
					  
						<div class="form-check form-check-reverse">
						  <input class="form-check-input" type="checkbox" value="" id="reverseCheck1">
						  <label class="form-check-label" for="reverseCheck1">
						    약관 동의
						  </label>
						</div>
					</div>
					 
					
					
					
			  </div>
			  <div class="card-footer text-body-secondary">
			     <button type="submit" class="btn btn-primary">회원가입 하기</button>
			  </div>
		</div>
	
	</form>
    </div>
    
    
    

</html>