<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <div layout:fragment="content">
        
         <div class="card text-center">
			  <div class="card-header">
			    <h5 class="card-title">2024년 3월 2일(토)</h5>
			  </div>
			  <div class="card-body">
			    
			    <table class="table">
				  <thead>
				    <tr>
				      <th scope="col" colspan="2">운행기록</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">총 주행거리</th>
				      <td>231242 km</td>
				    </tr>
				    <tr>
				      <th scope="row">수익</th>
				      <td>12342423 원</td>
				    </tr>
				    <tr>
				      <th scope="row">비용</th>
				      <td>Larry the Bird</td>
				    </tr>
				    <tr>
				      <th scope="row">순수익</th>
				      <td>Larry the Bird</td>
				    </tr>
				    <tr>
				    	<td colspan="2"></td>
				    </tr>
				    <tr>
				      <th scope="row" colspan="2">메모</th>
				    </tr>
				    <tr>
				      <td colspan="2">작성된 메모가 없습니다.</td>
				    </tr>
				    
				  </tbody>
				</table>
			    
			    
			  </div>
			    <div class="card-footer text-body-secondary">
			 	   <button class="btn btn-primary" id="driveInserBtn">운행정보 수정하기</button>
		  		   <button class="btn btn-primary" id="driveInserBtn">다른날짜 조회하기</button>
			  </div>
		</div>
		
		
    </div>

</html>