<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
<div layout:fragment="content">

    <div th:each="driveInfo, iterStat : ${list}" class="mb-4" th:classappend="${iterStat.index < 1} ? 'driveInfoOne' : ''">
        <div class="card text-center" style="border: 5px solid #c7c7c7;">
            <div class="card-header">
              <h5 class="card-title">2024년 3월 2일(토)</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">
                                <span th:text="${driveInfo.no}"></span>번째 운행기록
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">총 주행거리</th>
                            <td><span th:text="${driveInfo.totalKm}"></span> km</td>
                        </tr>
                        <tr>
                            <th scope="row">오늘 수입</th>
                            <td><span th:text="${driveInfo.todayIncome}"></span> 원</td>
                        </tr>
                        <tr>
                            <th scope="row">오늘 비용</th>
                            <td><span th:text="${driveInfo.todayFuel}"></span> 원</td>
                        </tr>
                        <tr>
                            <th scope="row">순수익</th>
                            <td><span th:text="${driveInfo.netProfit}"></span> 원</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="2">메모</th>
                        </tr>
                        <tr>
                            <td colspan="2"><span th:text="${driveInfo.todayMemo}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-body-secondary">
                <button class="btn btn-primary" id="driveInsertBtn">수정하기</button>
                <button class="btn btn-primary" id="driveDeleteBtn">삭제하기</button>
            </div>
        </div>
    </div>
    
    <div class="card text-center">
        <div class="card-body">
            <button class="btn btn-primary" id="driveInserBtn">다른날짜 조회하기</button>
        </div>
    </div>
    
</div>

</html>
