<!--resources/templates/fragments/header.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="header" id="header">
    	
    	<nav class="navbar bg-body-tertiary fixed-top">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="/">Taxi Manager</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
		      <div class="offcanvas-header">
		        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">메뉴</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		      </div>
		      <div class="offcanvas-body">
		        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
		          <li class="nav-item">
		            <a class="nav-link active" aria-current="page" href="/">처음 화면으로</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="/driveInfoInsert">운행정보 기록하기</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="/driveInfo">운행정보 조회하기</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="/driveStatistics">운행정보 통계보기</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#">게시판</a>
		          </li>
		          <hr>
		          <li class="nav-item">
		            <a class="nav-link" href="#">로그인</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="#">로그아웃</a>
		          </li>
		       
		        </ul>
		       <!--  <form class="d-flex mt-3" role="search">
		          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		          <button class="btn btn-outline-success" type="submit">Search</button>
		        </form> -->
		      </div>
		    </div>
		  </div>
		</nav>
    
    </div>
</html>