@charset "UTF-8";

#header { margin-top : 60px; }

.card { margin : 5px; }

.btn { margin : 5px; width : 80%; }

.subSpan { width : 120px; }
.subSpanBt { width : 50px; }

.card-body > div { margin-bottom : 5px; }

.borderAppend { border: 5px solid skyblue; }

.driveInfoOne > .card { border : none; }