<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <div layout:fragment="content">
        
       <div class="card text-center">
			  <div class="card-header">
			    2024년 3월 2일ㅇㅇ
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">기록 결과 입니다.</h5>
			    
			    <table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">First</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">총 주행거리</th>
				      <td>231242 km</td>
				    </tr>
				    <tr>
				      <th scope="row">수익</th>
				      <td>12342423 원</td>
				    </tr>
				    <tr>
				      <th scope="row">비용</th>
				      <td>Larry the Bird</td>
				    </tr>
				    <tr>
				      <th scope="row">순수익</th>
				      <td>Larry the Bird</td>
				    </tr>
				    <tr>
				    	<td colspan="2"></td>
				    </tr>
				    <tr>
				      <th scope="row" colspan="2">메모</th>
				    </tr>
				    <tr>
				      <td colspan="2">메모내용</td>
				    </tr>
				    
				  </tbody>
				</table>
			    
			    
			  </div>
			  <div class="card-footer text-body-secondary">
			    2 days ago
			  </div>
		</div>
		
		
		  <div class="card text-center">
			  <div class="card-header">
			    오늘 기록(2024년 3월 2일)
			  </div>
			  <div class="container-sm">
			  	<p>아직 오늘 기록을 입력하지 않았습니다. <br>기록을 입력해보세요.</p>
			  </div>
			  <div class="card-body">
				   <div class="input-group flex-nowrap">
					  	<span class="input-group-text" id="addon-wrapping">현재 주행거리</span>
						<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
						<span class="input-group-text" id="addon-wrapping">Km</span>
					</div>
					<div class="input-group flex-nowrap">
					  <span class="input-group-text" id="addon-wrapping"></span>
					  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
					</div>
					<div class="input-group flex-nowrap">
					  <span class="input-group-text" id="addon-wrapping">차량번호</span>
					  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
					</div>
					<div class="input-group flex-nowrap">
					  <span class="input-group-text" id="addon-wrapping">차량번호</span>
					  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
					</div>
					<div class="input-group flex-nowrap">
					  <span class="input-group-text" id="addon-wrapping">차량번호</span>
					  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
					</div>
			    <a href="#" class="btn btn-primary">기록 저장</a>
			  </div>
			  <div class="card-footer text-body-secondary">
			    2 days ago
			  </div>
		</div>
        
        
        
    </div>

</html>